nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button {
  margin-left: 20px;
  padding: 0;
  color: #333;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #666;
  background-color: #fff;
  text-decoration: underline;
}

.nav-link {
  margin-left: 20px;
  padding: 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #666;
  text-decoration: underline;
}
.contact-popup{
  color: #787878;
}
.contact-list{
  color: #787878;
  font-size: 12px;
}